@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}


.charts-container {
  display: flex;
  justify-content: center; 
  gap: 20px; /* Jarak antara grafik */
  height : 400px;
  width : 90%;
}

.chart {
  flex: 1; /* Membuat kedua grafik memiliki ukuran yang sama *//* Tinggi grafik */
}

.continent-select {
  margin: 20px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.country-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}
